<!-- Marquee -->
<div class="swiper mySwiper bg-secondary">
    <div class="swiper-wrapper">
        <div class="swiper-slide text-primary fs-lg-4 py-5 py-lg-7">
            活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
        <div class="swiper-slide text-primary fs-lg-4 py-5 py-lg-7">
            活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
        <div class="swiper-slide text-primary fs-lg-4 py-5 py-lg-7">
            活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
        <div class="swiper-slide text-primary fs-lg-4 py-5 py-lg-7">
            活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
        <div class="swiper-slide text-primary fs-lg-4 py-5 py-lg-7">
            活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
    </div>
</div>