<div class="row gap-7 gap-md-0">
    <div class="col-lg-4 mb-md-7">
        <div class="card border-0">
            <div class="card-header px-0 pb-2 pb-lg-3 bg-transparent border-bottom border-secondary border-2">
                <time class="fs-4 fs-lg-3 lh-sm">19 MAY 2023</time>
            </div>
            <a href="./activity.html" class="card-body px-0 pt-lg-3 d-flex flex-column gap-2 gap-lg-5">
                <img src="../assets/images/event/01.jpg" class="img-fluid" alt="邪典電影派對——房間">
                <h5 class="card-title mb-0 noto-sans-serif fs-8 fs-lg-5">邪典電影派對——房間</h5>
                <p class="card-text noto-sans-tc">你有聽說過「大災難家」裡面的主角 Tommy Wiseau
                    製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...</p>
            </a>
            <div
                class="card-footer px-0 py-lg-3 border-top border-bottom border-2 border-secondary bg-transparent d-flex justify-content-between align-items-center fw-bold">
                <a href="" class="noto-sans-serif d-flex align-items-center gap-1 underline-hover"><img
                        src="../assets/images/sparkler.png" class="card-class-icon" alt="icon">社群活動</a>
                <a href="./activity.html" class="noto-sans-tc circle-hover" data-bs-toggle="modal"
                    data-bs-target="#joinMember">開賣中 &raquo;</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-md-7">
        <div class="card border-0">
            <div class="card-header px-0 pb-2 pb-lg-3 bg-transparent border-bottom border-secondary border-2">
                <time class="fs-4 fs-lg-3 lh-sm">23 MAY 2023</time>
            </div>
            <div class="card-body px-0 pt-lg-3 d-flex flex-column gap-2 gap-lg-5">
                <img src="../assets/images/event/02.jpg" class="img-fluid" alt="怪舞俱樂部">
                <h5 class="card-title mb-0 noto-sans-serif fs-8 fs-lg-5">怪舞俱樂部</h5>
                <p class="card-text noto-sans-tc">
                    覺得自己的舞蹈細胞異於常人？每次隨著音樂起舞身邊的人總是露出無法理解的表情？來這裡就對了！來參加這場一起跳舞的聚會，也會在每一次的舞會中選出舞步最怪的...</p>
            </div>
            <div
                class="card-footer px-0 py-lg-3 border-top border-bottom border-2 border-secondary bg-transparent d-flex justify-content-between align-items-center fw-bold">
                <a href="" class="noto-sans-serif d-flex align-items-center gap-1 underline-hover"><img
                        src="../assets/images/sparkler.png" class="card-class-icon" alt="icon">演出</a>
                <a href="" class="noto-sans-tc circle-hover" data-bs-toggle="modal"
                    data-bs-target="#joinMember">檢視活動 &raquo;</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-md-7">
        <div class="card border-0">
            <div class="card-header px-0 pb-2 pb-lg-3 bg-transparent border-bottom border-secondary border-2">
                <time class="fs-4 fs-lg-3 lh-sm">30 MAY 2023</time>
            </div>
            <a href="./activity.html" class="card-body px-0 pt-lg-3 d-flex flex-column gap-2 gap-lg-5">
                <img src="../assets/images/event/03.jpg" class="img-fluid" alt="哈利波特馬拉松">
                <h5 class="card-title mb-0 noto-sans-serif fs-8 fs-lg-5">哈利波特馬拉松</h5>
                <p class="card-text noto-sans-tc">
                    每次身邊有人開啟哈利波特的話題，自己永遠都是聽不懂的那個麻瓜？看大家在討論魁地奇、用咒語鬥法的時候，自己永遠是陪笑的那個人？穿好你的法袍、帶上你的法杖...</p>
            </a>
            <div
                class="card-footer px-0 py-lg-3 border-top border-bottom border-2 border-secondary bg-transparent d-flex justify-content-between align-items-center fw-bold">
                <a href="" class="noto-sans-serif d-flex align-items-center gap-1 underline-hover"><img
                        src="../assets/images/sparkler.png" class="card-class-icon" alt="icon">聯誼</a>
                <a href="" class="noto-sans-tc circle-hover" data-bs-toggle="modal"
                    data-bs-target="#joinMember">開賣中 &raquo;</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card border-0">
            <div class="card-header px-0 pb-2 pb-lg-3 bg-transparent border-bottom border-secondary border-2">
                <time class="fs-4 fs-lg-3 lh-sm">12 June 2023</time>
            </div>
            <a href="./activity.html" class="card-body px-0 pt-lg-3 d-flex flex-column gap-2 gap-lg-5">
                <img src="../assets/images/event/04.jpg" class="img-fluid" alt="皮卡丘排球大賽">
                <h5 class="card-title mb-0 noto-sans-serif fs-8 fs-lg-5">皮卡丘排球大賽</h5>
                <p class="card-text noto-sans-tc">
                    還記得小時候玩的小遊戲嗎？總是有朋友吹噓自己獨孤求敗、只求一敗？是時候該展現真正的實力了！本活動採用瑞士制賽程，以絕對公平的方式進行，是時候該證明自己...</p>
            </a>
            <div
                class="card-footer px-0 py-lg-3 border-top border-bottom border-2 border-secondary bg-transparent d-flex justify-content-between align-items-center fw-bold">
                <a href="" class="noto-sans-serif d-flex align-items-center gap-1 underline-hover"><img
                        src="../assets/images/sparkler.png" class="card-class-icon" alt="icon">遊戲競賽</a>
                <a href="" class="noto-sans-tc circle-hover" data-bs-toggle="modal"
                    data-bs-target="#joinMember">開賣中 &raquo;</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card border-0">
            <div class="card-header px-0 pb-2 pb-lg-3 bg-transparent border-bottom border-secondary border-2">
                <time class="fs-4 fs-lg-3 lh-sm">25 June 2023</time>
            </div>
            <a href="./activity.html" class="card-body px-0 pt-lg-3 d-flex flex-column gap-2 gap-lg-5">
                <img src="../assets/images/event/05.jpg" class="img-fluid" alt="酒精路跑">
                <h5 class="card-title mb-0 noto-sans-serif fs-8 fs-lg-5">酒精路跑</h5>
                <p class="card-text noto-sans-tc">身邊總是有對自己酒量有高度自信的朋友嗎？拉著他/她一起來參加酒精路跑吧！一起拍下第一杯直到倒下為止的照片，一起喝遍市區內各家極具品味的酒吧。
                </p>
            </a>
            <div
                class="card-footer px-0 py-lg-3 border-top border-bottom border-2 border-secondary bg-transparent d-flex justify-content-between align-items-center fw-bold">
                <a href="" class="noto-sans-serif d-flex align-items-center gap-1 underline-hover"><img
                        src="../assets/images/sparkler.png" class="card-class-icon" alt="icon">社群活動</a>
                <a href="" class="noto-sans-tc circle-hover" data-bs-toggle="modal"
                    data-bs-target="#joinMember">開賣中 &raquo;</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card border-0">
            <div class="card-header px-0 pb-2 pb-lg-3 bg-transparent border-bottom border-secondary border-2">
                <time class="fs-4 fs-lg-3 lh-sm">9 July 2023</time>
            </div>
            <a href="./activity.html" class="card-body px-0 pt-lg-3 d-flex flex-column gap-2 gap-lg-5">
                <img src="../assets/images/event/06.jpg" class="img-fluid" alt="展覽——我的房間">
                <h5 class="card-title mb-0 noto-sans-serif fs-8 fs-lg-5">展覽——我的房間</h5>
                <p class="card-text noto-sans-tc">
                    每個人的房間總會有那麼一兩個能代表自己的物事，或許是再平凡不過的牙刷、馬克杯，或許有那些別人的房間從沒出現過的小東西——那些能定義自己的特別的東西。</p>
            </a>
            <div
                class="card-footer px-0 py-lg-3 border-top border-bottom border-2 border-secondary bg-transparent d-flex justify-content-between align-items-center fw-bold">
                <a href="" class="noto-sans-serif d-flex align-items-center gap-1 underline-hover"><img
                        src="../assets/images/sparkler.png" class="card-class-icon" alt="icon">展覽</a>
                <a href="" class="noto-sans-tc circle-hover" data-bs-toggle="modal"
                    data-bs-target="#joinMember">開賣中 &raquo;</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="joinMember" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header border-secondary border-3 border-bottom">
                <h5 class="modal-title noto-sans-serif mx-auto fs-5" id="exampleModalLabel">立刻成為7TAO會員</h5>
                <button type="button" class="btn-close ms-0 text-secondary" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body noto-sans-tc fw-normal mt-9 mt-lg-13 mb-7 p-0">
                <p class="text-center">立刻成為七逃會員，加速活動報名流程並取得活動優惠資訊。<br>
                    您也可以先報名活動，日後再註冊帳號，<br>
                    系統會在認證您的Email後，協助您找回舊的訂單。</p>
            </div>
            <div class="modal-footer mx-auto border-top-0 mb-9 mb-lg-13">
                <a href="./login.html" class="bg-secondary text-primary d-block py-2 px-9 fs-7 fw-bold">立即成為會員</a>
            </div>

        </div>
    </div>
</div>