.btn.hover-secondary {
    &:hover {
        color: $primary;
    }
}

// tag hover
.border.tag {
    border-left-width: 4px !important;
    transition: all .3s;
    &:hover {
        background: $secondary;
        color: $white;
        border-left-color: $primary !important;
    }
}

// circle
.circle-hover {
    position: relative;
    &:hover::before {
        display: block;
    }
    &::before {
        content: '';
        position: absolute;
        display: none;
        left: -10px;
        top: -4px;
        width: 29px;
        height: 29px;
        border-radius: 50%;
        background: $primary;
        z-index: -1;
    }
}

.underline-hover {
    &:hover {
        text-decoration: underline;
    }
}

.opacity-hover {
    &:hover {
        opacity: .7 !important;
    }
}