<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon">
    <title>7TAO 活動訂票網 | 所有活動</title>
</head>

<body>
    <%- include('./layout/header'); -%>
        <div class="container">
            <div
                class="d-flex justify-content-between align-items-center mt-5 mt-lg-9 mb-3 mb-lg-5 border border-secondary border-2 py-5 px-3 py-lg-7 px-lg-9">
                <h2 class="fs-5 fs-lg-1">EVENT</h2>
                <p class="fs-lg-4 noto-sans-serif">所有活動</p>
            </div>
            <ul class="d-flex list-unstyled gap-2 flex-wrap mb-9">
                <li><a href="#"
                        class="tag d-block fs-10 fs-lg-9 noto-sans-serif py-1 px-5 px-lg-7 border border-secondary">演出</a>
                </li>
                <li><a href="#"
                        class="tag d-block fs-10 fs-lg-9 noto-sans-serif py-1 px-5 px-lg-7 border border-secondary">音樂</a>
                </li>
                <li><a href="#"
                        class="tag d-block fs-10 fs-lg-9 noto-sans-serif py-1 px-5 px-lg-7 border border-secondary">舞蹈</a>
                </li>
                <li><a href="#"
                        class="tag d-block fs-10 fs-lg-9 noto-sans-serif py-1 px-5 px-lg-7 border border-secondary">戲劇</a>
                </li>
                <li><a href="#"
                        class="tag d-block fs-10 fs-lg-9 noto-sans-serif py-1 px-5 px-lg-7 border border-secondary">音樂會</a>
                </li>
                <li><a href="#"
                        class="tag d-block fs-10 fs-lg-9 noto-sans-serif py-1 px-5 px-lg-7 border border-secondary">課程講座</a>
                </li>
                <li><a href="#"
                        class="tag d-block fs-10 fs-lg-9 noto-sans-serif py-1 px-5 px-lg-7 border border-secondary">社群活動</a>
                </li>
                <li><a href="#"
                        class="tag d-block fs-10 fs-lg-9 noto-sans-serif py-1 px-5 px-lg-7 border border-secondary">展覽</a>
                </li>
                <li><a href="#"
                        class="tag d-block fs-10 fs-lg-9 noto-sans-serif py-1 px-5 px-lg-7 border border-secondary">研討會</a>
                </li>
                <li><a href="#"
                        class="tag d-block fs-10 fs-lg-9 noto-sans-serif py-1 px-5 px-lg-7 border border-secondary">電影</a>
                </li>
                <li><a href="#"
                        class="tag d-block fs-10 fs-lg-9 noto-sans-serif py-1 px-5 px-lg-7 border border-secondary">電音派對</a>
                </li>
                <li><a href="#"
                        class="tag d-block fs-10 fs-lg-9 noto-sans-serif py-1 px-5 px-lg-7 border border-secondary">遊戲競賽</a>
                </li>
                <li><a href="#"
                        class="tag d-block fs-10 fs-lg-9 noto-sans-serif py-1 px-5 px-lg-7 border border-secondary">親子</a>
                </li>
                <li><a href="#"
                        class="tag d-block fs-10 fs-lg-9 noto-sans-serif py-1 px-5 px-lg-7 border border-secondary">藝文活動</a>
                </li>
                <li><a href="#"
                        class="tag d-block fs-10 fs-lg-9 noto-sans-serif py-1 px-5 px-lg-7 border border-secondary">運動</a>
                </li>
                <li><a href="#"
                        class="tag d-block fs-10 fs-lg-9 noto-sans-serif py-1 px-5 px-lg-7 border border-secondary">交通旅遊</a>
                </li>
                <li><a href="#"
                        class="tag d-block fs-10 fs-lg-9 noto-sans-serif py-1 px-5 px-lg-7 border border-secondary">美食</a>
                </li>
                <li><a href="#"
                        class="tag d-block fs-10 fs-lg-9 noto-sans-serif py-1 px-5 px-lg-7 border border-secondary">資訊科技</a>
                </li>
                <li><a href="#"
                        class="tag d-block fs-10 fs-lg-9 noto-sans-serif py-1 px-5 px-lg-7 border border-secondary">聯誼</a>
                </li>
                <li><a href="#"
                        class="tag d-block fs-10 fs-lg-9 noto-sans-serif py-1 px-5 px-lg-7 border border-secondary">戶外</a>
                </li>
                <li><a href="#"
                        class="tag d-block fs-10 fs-lg-9 noto-sans-serif py-1 px-5 px-lg-7 border border-secondary">線上活動</a>
                </li>
            </ul>
            <%- include('./layout/recent'); -%>
                <div class="row gap-7 gap-md-0">
                    <div class="col-lg-4 mb-md-7 mt-md-7">
                        <div class="card border-0">
                            <div
                                class="card-header px-0 pb-2 pb-lg-3 bg-transparent border-bottom border-secondary border-2">
                                <time class="fs-4 fs-lg-3 lh-sm">19 MAY 2023</time>
                            </div>
                            <a href="./activity.html" class="card-body px-0 pt-lg-3 d-flex flex-column gap-2 gap-lg-5">
                                <img src="../assets/images/event/07.jpg" class="img-fluid" alt="野營音樂祭">
                                <h5 class="card-title mb-0 noto-sans-serif fs-8 fs-lg-5">野營音樂祭</h5>
                                <p class="card-text noto-sans-tc">喜歡山水、喜歡音樂嗎？一起在溪邊來場浪漫的沉浸式森林活動吧！結合四大戶外探索類別、超過 15
                                    項體驗與工作坊、新興音樂人的草地演唱。</p>
                            </a>
                            <div
                                class="card-footer px-0 py-lg-3 border-top border-bottom border-2 border-secondary bg-transparent d-flex justify-content-between align-items-center fw-bold">
                                <a href="" class="noto-sans-serif d-flex align-items-center gap-1 underline-hover"><img
                                        src="../assets/images/sparkler.png" class="card-class-icon" alt="icon">演出</a>
                                <a href="./activity.html" class="noto-sans-tc circle-hover" data-bs-toggle="modal"
                    data-bs-target="#joinMember">開賣中 &raquo;</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-md-7 mt-md-7">
                        <div class="card border-0">
                            <div
                                class="card-header px-0 pb-2 pb-lg-3 bg-transparent border-bottom border-secondary border-2">
                                <time class="fs-4 fs-lg-3 lh-sm">19 MAY 2023</time>
                            </div>
                            <a href="./activity.html" class="card-body px-0 pt-lg-3 d-flex flex-column gap-2 gap-lg-5">
                                <img src="../assets/images/event/08.jpg" class="img-fluid" alt="疊疊樂大賽">
                                <h5 class="card-title mb-0 noto-sans-serif fs-8 fs-lg-5">疊疊樂大賽</h5>
                                <p class="card-text noto-sans-tc">
                                    來到七星潭會想到什麼呢？絕對是數也數不清的扁扁石頭吧！有這項技能卻沒有機會大展身手的你，展露頭角的機會來囉！</p>
                            </a>
                            <div
                                class="card-footer px-0 py-lg-3 border-top border-bottom border-2 border-secondary bg-transparent d-flex justify-content-between align-items-center fw-bold">
                                <a href="" class="noto-sans-serif d-flex align-items-center gap-1 underline-hover"><img
                                        src="../assets/images/sparkler.png" class="card-class-icon" alt="icon">演出</a>
                                <a href="" class="noto-sans-tc circle-hover" data-bs-toggle="modal"
                    data-bs-target="#joinMember">遊戲競賽 &raquo;</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-md-7 mt-md-7">
                        <div class="card border-0">
                            <div
                                class="card-header px-0 pb-2 pb-lg-3 bg-transparent border-bottom border-secondary border-2">
                                <time class="fs-4 fs-lg-3 lh-sm">18 MAY 2023</time>
                            </div>
                            <a href="./activity.html" class="card-body px-0 pt-lg-3 d-flex flex-column gap-2 gap-lg-5">
                                <img src="../assets/images/event/09.jpg" class="img-fluid" alt="返老還童-制服聯誼">
                                <h5 class="card-title mb-0 noto-sans-serif fs-8 fs-lg-5">返老還童-制服聯誼</h5>
                                <p class="card-text noto-sans-tc">
                                    由戀愛家教「艾德溫」主辦策劃，讓各位在安排好的青春行程中擁有自然的純愛互動體驗，互相餵食餅乾、觀察對方手相，有趣的互動環節讓你/妳怦然心動！</p>
                            </a>
                            <div
                                class="card-footer px-0 py-lg-3 border-top border-bottom border-2 border-secondary bg-transparent d-flex justify-content-between align-items-center fw-bold">
                                <a href="" class="noto-sans-serif d-flex align-items-center gap-1 underline-hover"><img
                                        src="../assets/images/sparkler.png" class="card-class-icon" alt="icon">聯誼</a>
                                <a href="" class="noto-sans-tc circle-hover" data-bs-toggle="modal"
                    data-bs-target="#joinMember">開賣中 &raquo;</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card border-0">
                            <div
                                class="card-header px-0 pb-2 pb-lg-3 bg-transparent border-bottom border-secondary border-2">
                                <time class="fs-4 fs-lg-3 lh-sm">19 MAY 2023</time>
                            </div>
                            <a href="./activity.html" class="card-body px-0 pt-lg-3 d-flex flex-column gap-2 gap-lg-5">
                                <img src="../assets/images/event/10.jpg" class="img-fluid" alt="野外求生17天">
                                <h5 class="card-title mb-0 noto-sans-serif fs-8 fs-lg-5">野外求生17天</h5>
                                <p class="card-text noto-sans-tc">
                                    野外求生體驗，我們將在沒有水、沒有電的自然環境裡，學習各項生存技能，課程內容包含生火、水源取得及淨化、射箭、木食器製作、無具野炊、野地編繩和狩獵技能...</p>
                            </a>
                            <div
                                class="card-footer px-0 py-lg-3 border-top border-bottom border-2 border-secondary bg-transparent d-flex justify-content-between align-items-center fw-bold">
                                <a href="" class="noto-sans-serif d-flex align-items-center gap-1 underline-hover"><img
                                        src="../assets/images/sparkler.png" class="card-class-icon" alt="icon">戶外</a>
                                <a href="" class="noto-sans-tc circle-hover" data-bs-toggle="modal"
                    data-bs-target="#joinMember">開賣中 &raquo;</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card border-0">
                            <div
                                class="card-header px-0 pb-2 pb-lg-3 bg-transparent border-bottom border-secondary border-2">
                                <time class="fs-4 fs-lg-3 lh-sm">19 MAY 2023</time>
                            </div>
                            <a href="./activity.html" class="card-body px-0 pt-lg-3 d-flex flex-column gap-2 gap-lg-5">
                                <img src="../assets/images/event/11.jpg" class="img-fluid" alt="耳熟能詳音樂祭">
                                <h5 class="card-title mb-0 noto-sans-serif fs-8 fs-lg-5">耳熟能詳音樂祭</h5>
                                <p class="card-text noto-sans-tc">對你來說聽都沒聽過的團，但是音樂一下保證跟著唱，重磅邀請各界隱藏天籟歌手、天團，不想曬太陽也可以在樹下當
                                    KTV 跟著唱，唱不出來服務台報到立馬退費！
                                </p>
                            </a>
                            <div
                                class="card-footer px-0 py-lg-3 border-top border-bottom border-2 border-secondary bg-transparent d-flex justify-content-between align-items-center fw-bold">
                                <a href="" class="noto-sans-serif d-flex align-items-center gap-1 underline-hover"><img
                                        src="../assets/images/sparkler.png" class="card-class-icon" alt="icon">演出</a>
                                <a href="" class="noto-sans-tc circle-hover" data-bs-toggle="modal"
                    data-bs-target="#joinMember">開賣中 &raquo;</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card border-0">
                            <div
                                class="card-header px-0 pb-2 pb-lg-3 bg-transparent border-bottom border-secondary border-2">
                                <time class="fs-4 fs-lg-3 lh-sm">19 MAY 2023</time>
                            </div>
                            <a href="./activity.html" class="card-body px-0 pt-lg-3 d-flex flex-column gap-2 gap-lg-5">
                                <img src="../assets/images/event/12.jpg" class="img-fluid" alt="野營發呆大賽">
                                <h5 class="card-title mb-0 noto-sans-serif fs-8 fs-lg-5">野營發呆大賽</h5>
                                <p class="card-text noto-sans-tc">
                                    你也是那種動不動就容易放空、神遊的人嗎？這輩子靠這技能出頭的機會來了，在恆春山林一起神遊、盡情地發呆吧！冠軍可以得到價值十萬的綿豆腐床墊一張！</p>
                            </a>
                            <div
                                class="card-footer px-0 py-lg-3 border-top border-bottom border-2 border-secondary bg-transparent d-flex justify-content-between align-items-center fw-bold">
                                <a href="" class="noto-sans-serif d-flex align-items-center gap-1 underline-hover"><img
                                        src="../assets/images/sparkler.png" class="card-class-icon" alt="icon">遊戲競賽</a>
                                <a href="" class="noto-sans-tc circle-hover" data-bs-toggle="modal"
                    data-bs-target="#joinMember">開賣中 &raquo;</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- page -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center gap-2 my-lg-14 mt-9 mb-13">
                        <li class="page-item">
                            <a class="page-link px-3 py-2" href="#" aria-label="Previous">
                                <i class="icofont-arrow-left"></i>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link py-2 px-5" href="#">1</a></li>
                        <li class="page-item"><a class="page-link py-2 px-5 active" href="#">2</a></li>
                        <li class="page-item"><a class="page-link py-2 px-5" href="#">3</a></li>
                        <li class="page-item"><a class="page-link py-2 px-5" href="#">4</a></li>
                        <li class="page-item"><a class="page-link py-2 px-5" href="#">5</a></li>
                        <li class="page-item">
                            <a class="page-link px-3 py-2" href="#" aria-label="Next">
                                <i class="icofont-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
        </div>
        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
</body>

</html>